.App{
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

.my-header{
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-stretch: extra-expanded;
  font-variant: small-caps;
  font-variant-ligatures: discretionary-ligatures;
}

.search-form{
  min-height: 10vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  transition: width 0.4s ease-in-out;
  border: none;
  padding: 10px; 
}

.search-bar.focus{
  width: 100%;
}

.search-button{
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  font-family: Arial, Helvetica, sans-serif;
  border:none;
  padding: 10px 20px ;
  color: black;
  cursor: pointer;
  font-stretch: extra-expanded;
  font-variant: small-caps;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
